{% extends 'base.html' %} {% block content %}

<main class="home-content">
  <section class="intro-section">
    <h1>Welcome to My Spooky Books Catalogue</h1>
    <p>
      This Django application is designed to help manage and explore an
      collection of spooky books pulled from the Google books API.  All books
      and Authors are stored on a postgres database. You can add new books to the
      catalogue, update existing entries, or even delete them. You can also search 
      the database by book title, and ISBN. 
    </p>
  </section>

  <section class="tech-stack">
    <h1>Tech Stack:</h1>
    <ul class="tech-links">
      <li>
        <p>Python</p>
      </li>
      <li>
        <p>Django</p>
      </li>
      <li>
        <p>Django Rest Framework</p>
      </li>
      <li>
        <p>PostgreSQL</p>
      </li>
      <li>
        <p>Psycopg2</p>
      </li>
      <li>
        <p>React</p>
      </li>
    </ul>
  </section>

  <section class="resources-section">
    <h1>Useful Resources:</h2>
    <ul class="doc-links">
      <li>
        <a href="https://docs.djangoproject.com/" target="_blank"
          >Django Docs</a
        >
      </li>
      <li>
        <a href="https://www.django-rest-framework.org/" target="_blank"
          >DRF Docs</a
        >
      </li>
      <li>
        <a
          href="https://docs.djangoproject.com/en/stable/topics/forms/"
          target="_blank"
          >Django Forms</a
        >
      </li>
      <li>
        <a href="https://docs.python-requests.org/en/latest/" target="_blank"
          >Python Requests Lib</a
        >
      </li>
      <li>
        <a href="https://developers.google.com/books" target="_blank"
          >Google Books API</a
        >
      </li>
    </ul>
  </section>
</main>

{% endblock %}
